body{
    font-family: Arial,  sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: auto;
}
header{
    background: #35424a;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}
nav{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 15px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
}
main{
    padding: 20px;
    background: #032929;
}
footer{
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
content{
    padding: 20px;
    background: #ffffff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
article {
    margin-bottom: 20px;
}
section{
    font-weight:lighter;
    font-style: oblique;
    text-align: left;
}
p{
    text-align: left;
    font-size: small

}
h1{
    font-size: medium
}
h2{
    font-size: medium 
}
h3{
    font-size: medium
}
h4{
    font-size: medium
}
h5{
    font-size: medium
}
h6{
    font-size: medium
}
h7{
    font-size: medium
}
h8{
    font-size: medium
}
h9{
    font-size: medium

}
